# adapt to your needs and save as config.yml

xcube_places:
  Postgrest_url:  <geoDB-PostGREST server url>
  Postgrest_port: <geoDB-PostGREST server port>
  Client_id:      <your client id>
  Client_secret:  <your client secret>
  Auth_domain:    <your auth domain>
  PlaceGroups:
    - Identifier: Talsperren_TH
      Title: Talsperren Thüringen
      Query: collection-name?limit=100&depth=gt.10&select=list,of,columns
  DatasetRefs:  # place groups are only relevant for those datasets listed here
    - id1
    - id2
  PropertyMapping:
    - label: column-name
      color: red
      description: my-property