# adapt to your needs and save as config.yml

XcubePlaces:
  GeoDBConf:
    PostgrestUrl:  <geoDB-PostGREST server url>
    PostgrestPort: <geoDB-PostGREST server port>
    ClientId:      <your client id>
    ClientSecret:  <your client secret>
    AuthDomain:    <your auth domain>
  PlaceGroups:
    Identifier: Talsperren_TH
    Title: Talsperren Thüringen
    Query: collection-name?limit=100&depth=gt.10&select=list,of,columns
  DatasetRefs:  # place groups are only relevant for those datasets listed here
    - id1
    - id2
  PropertyMapping:
    Label: column-name
    Color: red
    Description: my-property